.logo {
  margin-right: 93px;
  margin-top: 18px;
  margin-bottom: 18px;
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;

  font-size: 26px;
  color: $black;
}
.logo-web {
  color: $blue;
}

.logo-footer {
  font-size: 26px;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;
  margin-bottom: 21px;
  line-height: normal;
}
