.logo {
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;

  color: $black;

  @media screen and (min-width: 480px) {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 284px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin-right: 93px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
.logo-web {
  color: $blue;
}

.logo-footer {
  font-size: 26px;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;
  margin-bottom: 21px;
  line-height: normal;
}
