.comand-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.comand-table {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.comand-item {
  width: 270px;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.comand {
  background-color: $bcg-btn;
}

.comand-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;

  margin-top: 30px;
  margin-bottom: 10px;
}

.comand-prof {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $gray;

  margin-top: 10px;
  margin-bottom: 16px;
}
