.contacts {
  background-color: $bcg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}

.footer {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    width: 100%;
  }
}

.contacts-adress {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $white;

  display: block;
  margin-bottom: 9px;
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $adress-footer;
  display: block;
}

.contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: block;
  width: 100%;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
    width: 230px;
    margin-right: 70px;
  }
}

.footer-svg {
  fill: $white;
}

.footer-h {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 14px;
}

.social-footer {
  width: 100%;

  margin-left: 70px;

  @media screen and(min-width: 480px) {
    margin: 0;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and(min-width: 768px) {
    width: 50%;
  }
  @media screen and(min-width: 1200px) {
    width: 210px;
    margin-top: 75px;
    text-align: left;
  }
}

.footer-list {
  padding: 0;
  margin-top: 20px;
}

.footer-social-link {
  fill: white;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 44px;
}

.footer-form {
  margin-left: 90px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin: 0;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 570px;
  }
}

.form-tg-footer {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.inp-mail-footer {
  width: 358px;
  height: 50px;
  background-color: $bcg-color;
  padding-left: 16px;
  color: $white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-right: 10px;

  @media screen and(min-width:480px) {
    width: 100%;
  }

  @media screen and(min-width: 1200px) {
    width: 358px;
    height: 50px;
  }
}

.inp-mail-footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
