.section-one {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/mobile/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/tablet/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/desktop/hero-bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
  }
}

.hero {
  align-items: center;

  @media screen and (min-width: 480px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 768px) {
    width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 200px;
  }
}

.hero-content {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 1200px) {
    width: 700px;
  }
}

.section-one-h {
  font-weight: 900;

  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.615;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
