.portfolio-h {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $black;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $gray;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.portfolio-table {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 56px;
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-link {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  text-decoration: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overley {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overley-text {
  display: block;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: $white;
}

.portfolio-item:hover .overley {
  transform: translateY(0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.container-portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}
